	<!-- page section start -->
<section class="page-section">
    <div class="container">
        @*<div class="box-wrapper">
                <div class="box-child">
                <p class="text-center">
                    <img src="~/Resources/Images/gold.png" style="width:50px; height:50px; padding-top:-20px"/> <span style="color:black; font-size:35px; padding-left:0.5em;">1500</span><br />
                    Rp 300.000
                     </p>
                </div>
                <div class="box-child"><p>Child</p></div>
                <div class="box-child"><p>Child</p></div>
                <div class="box-child"><p>Child</p></div>
            </div>*@
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="box-custom">
                    <div class="row">
                        <div class="col-lg-5 col-xs-5 text-right">
                            <img src="~/Resources/Images/gold.png" style="width:50px; height:50px;" />
                        </div>
                        <div class="col-lg-7 col-xs-7 text-left">
                            <span style="font-size:35px; color:black;">1500</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center" style="margin-top:10px">
                            <span style="font-size:17px">Rp 30.000</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="box-custom">
                    <div class="row">
                        <div class="col-lg-5 col-xs-5 text-right">
                            <img src="~/Resources/Images/gold.png" style="width:50px; height:50px;" />
                        </div>
                        <div class="col-lg-7 col-xs-7 text-left">
                            <span style="font-size:35px; color:black;">1500</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center" style="margin-top:10px">
                            <span style="font-size:17px">Rp 30.000</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="box-custom">
                    <div class="row">
                        <div class="col-lg-5 col-xs-5 text-right">
                            <img src="~/Resources/Images/gold.png" style="width:50px; height:50px;" />
                        </div>
                        <div class="col-lg-7 col-xs-7 text-left">
                            <span style="font-size:35px; color:black;">1500</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center" style="margin-top:10px">
                            <span style="font-size:17px">Rp 30.000</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="box-custom">
                    <div class="row">
                        <div class="col-lg-5 col-xs-5 text-right">
                            <img src="~/Resources/Images/gold.png" style="width:50px; height:50px;" />
                        </div>
                        <div class="col-lg-7 col-xs-7 text-left">
                            <span style="font-size:35px; color:black;">1500</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center" style="margin-top:10px">
                            <span style="font-size:17px">Rp 30.000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page section end -->