	<!-- page section start -->
<section class="page-section">
    <div class="container">
        <div class="row" style="padding-top:50px">
            <div class="col-lg-5">
                <div class="row" style="padding:20px 0px 20px 0px">
                    <div class="col-lg-2 col-xs-2">
                        <img src="~/Resources/Images/live-10.jpeg" />
                    </div>
                    <div class="col-lg-5 col-xs-5" style="padding-top:20px">
                        <span style="font-size:25px; font-weight:bolder">Pevita Pearce</span>
                    </div>
                    <div class="col-lg-2 col-xs-2" style="padding-top:15px">
                        <a href="#" class="site-btn3" style="padding-right:0px"><i class="fa fa-share-alt" style="color:white"></i> Share</a>
                    </div>
                    <div class="col-lg-3 col-xs-3 text-right" style="padding-top:15px">
                        <a href="#" class="site-btn3" style="padding-right:0px"><i class="fa fa-plus" style="color:white"></i> Follow</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <img src="~/Resources/Images/pevita.gif" />
                    </div>
                </div>
                <div class="row" style="padding-top:20px">
                    <div class="col-lg-12">
                        Gifts
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3" style="height:100px">
                                <img src="~/Resources/Images/gift-5.png" style="width:100px; height:100px; vertical-align:central" />
                            </div>
                            <div class="col-lg-3" style="height:100px">
                                <img src="~/Resources/Images/gift-2.png" style="width:100px; padding-top:20px" />
                            </div>
                            <div class="col-lg-3" style="height:100px">
                                <img src="~/Resources/Images/gift-3.png" style=" width: 100px" />
                            </div>
                            <div class="col-lg-3" style="height:100px">
                                <img src="~/Resources/Images/gift-4.png" style="width:100px" />
                            </div>
                            <div class="col-lg-3" style="height:100px">
                                <img src="~/Resources/Images/gift-1.jpg" style="width:100px; height:100px; vertical-align:central" />
                            </div>
                            <div class="col-lg-3" style="height:100px">
                                <img src="~/Resources/Images/gift-6.png" style="width:100px; padding-top:20px" />
                            </div>
                            <div class="col-lg-3" style="height:100px">
                                <img src="~/Resources/Images/gift-7.png" style=" width: 100px" />
                            </div>
                            <div class="col-lg-3" style="height:100px">
                                <img src="~/Resources/Images/gift-8.png" style="width:100px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row" style="padding-top:20px">
                    <div class="col-lg-12">
                        <img src="~/Resources/Images/chat.jpg" style="width:100%" />
                    </div>
                    <div class="col-lg-12" style="margin-top:20px">
                        <input type="text" class="form-control" style="width:100%; height:100px; max-width:2000px"/>
                    </div>
                    <div class="col-lg-12 text-right" style="margin-top:10px">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-3">
                            <i class="fa fa-smile-o" style="font-size:30px"></i>
                        </div>
                        <div class="col-lg-3">
                            <a href="#" class="site-btn3">Send</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <ul class="nav nav-tabs" style="padding-top:20px">
                    <li class="active"><a data-toggle="tab" href="#visitosr">Visitors</a></li>
                </ul>

                <div class="tab-content">
                    <div id="visitors" class="tab-pane fade in active" style="padding-top:20px">
                        <div class="row" style="padding-left:20px">
                            <div class="col-lg-12" style="border-bottom:solid 1px; margin-bottom:20px">
                                Agust
                            </div>
                            <div class="col-lg-12" style="border-bottom:solid 1px; margin-bottom:20px">
                                Tampubolon
                            </div>
                            <div class="col-lg-12" style="border-bottom:solid 1px; margin-bottom:20px">
                                Rudi
                            </div>
                            <div class="col-lg-12" style="border-bottom:solid 1px; margin-bottom:20px">
                                Jeki
                            </div>
                            <div class="col-lg-12" style="border-bottom:solid 1px; margin-bottom:20px">
                                Roy
                            </div>
                            <div class="col-lg-12" style="border-bottom:solid 1px; margin-bottom:20px">
                                Adi
                            </div>
                            <div class="col-lg-12" style="border-bottom:solid 1px; margin-bottom:20px">
                                Kusrahmadi
                            </div>
                            <div class="col-lg-12" style="border-bottom:solid 1px; margin-bottom:20px">
                                Andreas
                            </div>
                            <div class="col-lg-12" style="border-bottom:solid 1px; margin-bottom:20px">
                                Sinurat
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page section end -->